*~
build
dist
read2tree.egg-info
docs/*
tmp/*
.Rhistory
.RData
*pyc
tmp
**/.ropeproject
**/__pycache__
**/.ipynb_checkpoints
.idea/workspace.xml
.python-version
.DS_Store
tests/output
tests/mplog.log
